# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# iOS/macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.moved-aside
*.pyc
*.pbxuser

# Android
android/.gradle/
android/captures/
android/local.properties
android/GeneratedPluginRegistrant.java
*.apk
*.aab

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
